
body{
	background:url(image1.jpg);
	height: 80vh;
	background-position: center;
}

body div{
	background-color: #0A5474;
	color:#000000;
	text-align: center;
	margin: 80px;
	padding: 50px;
	border-radius: 50px;
}

div p {
	color: white;
	font-style: georgia;
	font-size: 20px;
}